# Ignore node_modules folders (Node.js dependencies)
node_modules/
prompt_store/
# Ignore local environment secret files
.env
*.env.local
config.json
# Ignore log files
*.log
*.zip

# Ignore OS-specific system files
.DS_Store
Thumbs.db

# Ignore VS Code project settings
.vscode/

# Ignore Python virtual environments
.venv/
.venv311/

human_agentic_runs/